<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>
<body id="page-top">
  <!-- Nav bar-->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top navbar-shrink" id="mainNav" style='opacity: 0.94;'>
    <div class="container">
      <!--class="navbar-brand"--->
      <a href="/"><img class='logo' src="/images/logos/logo-losgo.png" alt="..." /></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars ms-1"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
          <li class="nav-item"><a class="nav-link" href="/#about">Somos LosGo</a></li>
          <div>
            <li class="nav-item" id="proposal"><a href="#" class="nav-link" data-toggle="collapse">Propuestas</a></li>
            <div class="propsal" id="collapse-proposal">
              <span class="nav-item " ><a href="/propuesta/1" id="propuesta" class="nav-link li">Food-Truck</a></span>
              <span class="nav-item li" ><a href="/propuesta/2" id="propuesta" class="nav-link lis">Catering</a></span>
              <span class="nav-item li" ><a href="/propuesta/3" id="propuesta" class="nav-link list">Nuestro Local</a></span>
            </div>
          </div>
  
          <li class="nav-item"><a class="nav-link" href="https://wafflerialosgo.ola.click/products">Menu</a></li>
          <li class="nav-item"><a class="nav-link" href="/contacto">Contacto</a></li>
          <li class="nav-item"><a class="nav-link" href="#"><i class="fb fab fa-facebook"></i></a></li>
          <li class="nav-item"><a class="nav-link" href="#"><i class="ig fab fa-instagram"></i></a></li>
          <!--
            
            <li class="nav-item"><a class="nav-link" href="#team">Team</a></li>
            -->
        </ul>
  
      </div>
  
    </div>
  
  </nav>
  <br>
  <br>
  <br>
  <!-- Propuestas-->
  <section class="page-section" id="services">
    <br></br>
    <div class="container">
      <br></br>
      <div class="text-center">
        <h2 class="section-heading text-uppercase">Propuestas</h2>
        <h3 class="section-subheading text-muted">Siempre en movimiento.</h3>
      </div>
      <div class="row text-center">
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x" style="color:var(--color-strong-letter)"></i>
            <i class="<%= product.icon %> "></i>
          </span>
          <h4 class="my-3"><%=product.name%></h4>
          <p class="text-muted"><%=product.description%>
            </p>
        </div>
        <div class="col-md-8">
          <div class="portfolio-item">
            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
              <img class="img-fluid <%=product.imgclass%>" src="/images/propuesta/<%=product.mainimg%>" alt="..." />
            </a> 
          </div>
        </div>
       
      </div>
    </div>
  </section>
  <!-- Galerias-->
  <section class="page-section bg-light" id="portfolio">
    <div class="container">
      <div class="text-center">
        <!--Esto tiene que venir por parametro ya que si se apreta fooftruck trae foodtruck-->
        <h2 class="section-heading text-uppercase"><%=product.name%></h2>
      </div>
      <div class="row">
        <div class="col-lg-4 col-sm-6 mb-4">
          <!-- Portfolio item 1-->
          <div class="portfolio-item">
            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
              </div>
              <img class="img-fluid <%=product.imgclass1%>" src="/images/propuesta/<%=product.img2%>" alt="..." />
            </a>
            <div class="portfolio-caption">
              <div class="portfolio-caption-heading">Waffle a la godoy</div>
              <div class="portfolio-caption-subheading text-muted">Delicatese</div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 mb-4">
          <!-- Portfolio item 2-->
          <div class="portfolio-item">
            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal2">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
              </div>
              <img class="img-fluid <%=product.imgclass1%>" src="/images/propuesta/<%=product.img3%>" alt="..." />
            </a>
            <div class="portfolio-caption">
              <div class="portfolio-caption-heading">Monster Waffle</div>
              <div class="portfolio-caption-subheading text-muted">Animate!</div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 mb-4">
          <!-- Portfolio item 3-->
          <div class="portfolio-item">
            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal3">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
              </div>
              <img class="img-fluid <%=product.imgclass1%>" src="/images/propuesta/<%=product.img4%>" alt="..." />
            </a>
            <div class="portfolio-caption">
              <div class="portfolio-caption-heading">Ice Waffle</div>
              <div class="portfolio-caption-subheading text-muted">Un toque refrescante!</div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
          
        </div>
      </div>
    </div>
  </section>
  <!-- Footer-->
  <%- include('./partials/footer') %>
    <!-- Portfolio Modals-->
  <!-- Portfolio item 1 modal popup-->
  <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-bs-dismiss="modal"><img src="images/close-icon.svg" alt="Close modal" /></div>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-8">
              <div class="modal-body">
                <!-- Project details-->
                <h2 class="text-uppercase">Waffle a la Godoy</h2>
                <p class="item-intro text-muted">Una de las delicatesen de la casa.</p>
                <img class="img-fluid d-block mx-auto" src="images/waffle2.jpg" alt="..." />
                <p>Este producto destaca por sobre todos, ya que es uno de los mas solicitados en nuestro elocal. Viene acompañado con frutillas cuidadosamente seleccionadas.</p>
                <ul class="list-inline">
                  <li>
                    <strong>Caracteristicas principales:</strong>
                    Crocante
                  </li>
                  <li>
                    <strong>Acompañado con:</strong>
                    NesCafe clasico
                  </li>
                </ul>
                <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                  <i class="fas fa-times me-1"></i>
                  Cerrar Imagen
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Portfolio item 2 modal popup-->
  <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-bs-dismiss="modal"><img src="images/close-icon.svg" alt="Close modal" /></div>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-8">
              <div class="modal-body">
                <!-- Project details-->
                <h2 class="text-uppercase">Monster Waffle</h2>
                <p class="item-intro text-muted">Solo tenes que animarte!.</p>
                <img class="img-fluid d-block mx-auto" src="images/waffle.jpg" alt="..." />
                <p>Este producto destaca por sobre todos, ya que es uno de los mas solicitados en nuestro elocal. Viene acompañado con frutillas cuidadosamente seleccionadas.</p>
                <ul class="list-inline">
                  <li>
                    <strong>Caracteristicas principales:</strong>
                    Sabor intenso
                  </li>
                  <li>
                    <strong>Acompañado con:</strong>
                   Cafe con Leche Nescafe
                  </li>
                </ul>
                <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                  <i class="fas fa-times me-1"></i>
                  Cerrar Imagen
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Portfolio item 3 modal popup-->
  <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-bs-dismiss="modal"><img src="images/close-icon.svg" alt="Close modal" /></div>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-8">
              <div class="modal-body">
                <!-- Project details-->
                <h2 class="text-uppercase">Ice Waffle</h2>
                <p class="item-intro text-muted">Senti el toque refresacante de la bocha de helado.</p>
                <img class="img-fluid d-block mx-auto" src="images/waffle7.jpg" alt="..." />
                <p>Este producto destaca por sobre todos, ya que es uno de los mas solicitados en nuestro elocal. Viene acompañado con frutillas cuidadosamente seleccionadas.</p>
                <ul class="list-inline">
                  <li>
                    <strong>Caracteristicas principales: </strong>
                    Muy sabroso!
                  </li>
                  <li>
                    <strong>Acompañado con:</strong>
                    Cappucciono Nescafe
                  </li>
                </ul>
                <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                  <i class="fas fa-times me-1"></i>
                  Cerrar Imagen
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Bootstrap core JS-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
  <!-- Core theme JS-->
  <script src="/javascripts/scripts-nav.js"></script>
  <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
</body>

</html>